[submodule "chess-web"]
	path = chess-web
	url = https://github.com/augustinbarbe/chess-web
[submodule "chess-docker"]
	path = chess-docker
	url = git@github.com:augustinbarbe/chess-docker.git
[submodule "chess-ai"]
	path = chess-ai
	url = https://github.com/augustinbarbe/chess-ai
